* {
    box-sizing: border-box;
}

/* we are going to declare variables*/

:root {
    --light: white;
    --dark: black;
    --primary: grey;
    --secondary: skyblue;
    --tertiary: rgb(63, 63, 63);
}



/* body*/
body {
    color: var(--primary);
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;

}



h1, 
h2,
h3 {
    margin: 0;
    
}

p {
    margin: 0;
}

/* header*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
}


header h1 {
 
    background-color: var(--secondary);
    color: var(--tertiary);


/* 7-17-21 added the same  "ombre" format here in the header */
    background-image:linear-gradient(270deg, var(--secondary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 025s ease-in;
    font-size: 3.4rem;
/* end of ombre style */

    margin: 0;
    font-size: 4vw;
    line-height: 1;
    padding: 5px 1% 5px 6%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--light);
    margin-right: 10px;
    background-image:linear-gradient(270deg, var(--secondary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 025s ease-in;
    font-size: 1.4rem;
    
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark);
}

nav a:last-child {
    margin-right: 5;
}

.box-section {
    display:flex; 
    font-size: 
    margin-right: 5px;

}

.flex-items {

}


#contact me {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    
}


/* portfolio content */






/* contacts */







/* media queries - responsiveness*/







/* we are going to declare variables*/
